.top-banner{
	background-color: #085a78;
}
.top-banner-text1{
	color: #FEFFFB;
	padding-top: 0px;
	margin: 0px;
	text-align: center;
}

body {
	background-color: #FFFFFF;
}

#footer{
	text-align: center;
}
