<div class="fa fa-5x fa-spinner fa-pulse spinner" data-loading></div>

<div class="about-wrapper">
	<p class="about-title">About Me</p>
   <div class="about-body">
      <img src="fe/images/aboutme.jpg" alt="about me">
      {{aboutData.body}}
   </div>
   <div class="contact-info">
      <p>William Navas
      <p>{{contactData.phone}}
      <p>{{contactData.email}}
   </div>
   <ul class="about-social-icons">
      <li><a href="https://www.facebook.com/pages/William-Navas-Photo/201253276656084"
      target="blank" class="fa fa-2x fa-facebook"></a>
      </li>
      <li><a href="https://www.flickr.com/photos/williamnavasphoto/" target="blank" class="fa fa-2x fa-flickr"></a></li>
      <li><a href="https://instagram.com/wil_nvs_photo/" target="blank" class="fa fa-2x fa-instagram"></a></li>
      <li><a href="#/" class="fa fa-2x fa-twitter"></a></li>
   </ul>
</div>
